# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Grunt
.grunt

# Dependencies
node_modules/
jspm_packages/
web_modules/

# Snowpack
web_modules/

# TypeScript
*.tsbuildinfo

# npm/yarn caches
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.pnp.js

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Parcel
.cache
.parcel-cache

# Build output
.next
out
.nuxt
dist
.build

# Gatsby
.cache/

# Vuepress
.vuepress/dist
.temp

# Vitepress
**/.vitepress/dist
**/.vitepress/cache

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB
.dynamodb/

# TernJS
.tern-port

# VSCode and IDE files
.vscode-test
.idea
.vscode
*.swp
*.swo

# MacOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db